
# ----------------------
# Framework
# ----------------------
Flask==0.11.1


# ----------------------
# Testing
# ----------------------
mock==2.0.0


# ----------------------
# Production Server
# ----------------------
gevent==1.1.2
gunicorn==19.6.0


# ----------------------
# Database
# ----------------------
sqlalchemy


# ----------------------
# UnKnown
# ----------------------
itsdangerous
Jinja2
MarkupSafe
Werkzeug
wheel