{% extends "base.html" %}


{% block title %}{{super()}}Users{% endblock %}


{% block head_script %}
<script type=text/javascript>
	// get the root path on server
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function(){
    // create new user
    var frm2 = $("#create-new-form")

    frm2.submit(function(){
      $.getJSON({
        type: 'POST',
        url: $SCRIPT_ROOT + "/api/users",
        data: frm2.serialize(),
        success: function(data){

          console.log(data)
          $("#result").text("");

          $("#result").append("Successfully create user: "
          	+ "id " + data.user.id 
            + "; username " + data.user.username 
            + "<br>");
        },
      });

      return false;

    });
  });
</script>
{% endblock %}

{% block content %}

    <div class="{{ name }}-container">
        <p>{{ message }}</p>
        <p>Usage: https://test-flask2046.herokuapp.com/api/users </p>
        <p>Usage: https://test-flask2046.herokuapp.com/api/users/31 </p>
        <form method="POST" id="create-new-form">
            <input type="submit" name="submit" value="Create new">
            <input type="text" name="username" placeholder="name">
            <input type="password" name="password" placeholder="password">
        </form>
    </div>

    <div id="result"></div>

<br><br>
  {% if not session.logged_in %}
    <p>you are not logged in</p>
  {% else %}
    <!-- a href="{{ url_for('logout') }}">log out</a -->
    <p>you are logged in</p>
  {% endif %}


{% endblock %}

